* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: whitesmoke;
    overflow-y: scroll;
}

.box {
    width: 1200px;
    margin: auto;
}

.box .nav {
    width: 100%;
    height: 50px;
}

.box .nav ul {
    display: flex;
    height: 50px;
    width: 100%;
    background: white;
    justify-content: space-around;
}

.box .nav ul li {
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
}

.box .nav ul li a {
    display: block;
    width: 60px;
    height: 50px;
    text-decoration: none;
    margin: 0 20px;
    color: black;
    font-size: 14px;
}

.box .nav ul li a:hover {
    color: red;
}

.box .con {
    width: 1200px;
}

.box .con ul {
    width: 100%;
}

.box .con ul li:nth-child(5n+5) {
    margin: 20px 0px 0px 0px;
}

.box .con ul li {
    background: white;
    padding: 16px;
    width: 224px;
    height: 340px;
    margin: 20px 20px 0 0;
    cursor: pointer;
    box-sizing: border-box;
    float: left;
}

.box .con ul li:hover {
    box-shadow: 0px 0px 3px #999;
}

.box .con ul li img {
    width: 192px;
    height: 192px;
}

.box .con ul li .span1 {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.box .con ul li .p1 {
    margin-top: 12px;
}

.box .con ul li .p2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-top: 8px;
    height: 40px;
    font-size: 14px;
    color: #5a5a5a;
}

.box .con ul li .p3 {
    margin-top: 10px;
}

.box .con ul li .span2 {
    color: #aaa;
    font-size: 12px;
    text-decoration: line-through;
}

.box .con ul li .span3 {
    color: #aaa;
    font-size: 12px;
    float: left;
}

.box .con ul li .span4 {
    float: right;
    font-size: 12px;
    color: #aaa;
}

.on a {
    color: red !important;
    border-bottom: 1px solid red;
}

.nodata {
    width: 100%;
    text-align: center;
    margin: 100px 0;
}

.nodata img {
    width: 200px;
}

.nodata p {
    font-size: 14px;
    color: #919191;
}